### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### Maven ###
target/
*.jar
*.war
*.ear

### Java ###
*.class
*.jar
*.war
*.ear
*.log
*.ctxt

### OS ###
.DS_Store
Thumbs.db

### Project specific ###
docs/
*Test.java
**/test/
